.carContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}
.userInfo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.premium{
    margin-left: 15px;
    padding: 5px 20px;
    background-color: #70b000;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 8px;
    text-shadow: 1px 1px black;
    cursor: pointer;
}
.premium:hover {
    box-shadow: 2px 2px 6px darkgrey;
    background-color: #5998be;
}