.wrapper {
    height: 100%;
    margin-top: -62px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 350px;
}

.input {
    margin: 0 auto;
    width: 300px;
    height: 40px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 4px darkgrey;
    outline: none;
}

.button {
    margin: 0 auto;
    width: 75%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 2px darkgrey;
    font-size: 15px;
}

.button:hover {
    box-shadow: 0 0 6px darkgrey;
    background-color: #70b000;
    color: white;
}

.wrapper span {
    margin: 5px 0 10px 0;
    height: 10px;
    color: #d74949;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorMessage {
    padding: 5px 20px;
    margin: 25px 0 10px 0;
    height: 10px;
    color: #d74949;
    font-size: 14px;
    text-align: center;

}
.register{
    color: #043d60;
    text-align: center;
    font-size: 14px;
}
.register:hover {
    text-decoration: underline;
}